* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 3em; /* same as footer height */
}

#footer {
  position: relative;
  margin-top: -3em; /* negative value of footer height */
  height: 3em;
  clear: both;
  background-color: #efefef;
  padding-top: 1em;
  text-align: center;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}


.row {
  background-color: #fff;
}

@media (min-width: 992px){
    .page-header a {
        margin-left : 1em;
        margin-right : 1em;
    }
}

.list-horizontal li {
	display:inline-block;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}
