{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Westport</title>
    <link rel="stylesheet" href="{% static 'nabes_app/css/bootstrap.css' %}" media="screen" title="bootstrap" charset="utf-8">
    <link rel="stylesheet" href="{% static 'nabes_app/css/main.css' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
{% block navigation %}
<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">


      </div>
    </nav>
{% endblock %}
    <div class="container">
      <div class="container">
        <div class="page-header">
        <h1>Westport Community Association<small>  Celebrating neighbors for 50 years</small></h1>
        <a  href="{% url 'index_view' %}">Homepage</a>

          {% if request.user.is_authenticated %}
            <a  href={% url 'profile_view' %}>Profile</a>
            <a  href="{% url 'logout' %}?next=/">Logout</a>
            {# <a class="btn btn-primary" href="{% url 'newsletter_listview' %}">Newsletters</a>#}


          {% else %}
            <a  href={% url 'login' %}>Sign In</a>
            {# <a class="btn btn-primary" href={% url 'create_account_view' %}>Create Account</a>#}
          {% endif %}

    </div>
      {% block content %}
        <p>
          A neighborhood site for the Westport Neighborhood in eastern Lincoln County, NC.
        </p>
      {% endblock %}
    </div>
  </body>
</html>
