{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Westport</title>
    <link rel="stylesheet" href="{% static 'nabes_app/css/bootstrap.css' %}" media="screen" title="bootstrap" charset="utf-8">
    <link rel="stylesheet" href="{% static 'nabes_app/css/main.css' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
{% block navigation %}
<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">


      </div>
    </nav>
{% endblock %}
    <div class="container">
      <div class="container">
        <div class="page-header">
        <h1>Westport Community Association<small>  Celebrating neighbors for 50 years</small></h1>
        <ul class="list-horizontal">
          <li> <a  href="{% url 'index_view' %}">Homepage</a></li>
          {% if request.user.is_authenticated %}

          <li> <a  href={% url 'profile_view' %}>Profile</a></li>
          <li> <a  href="{% url 'logout' %}?next=/">Logout</a></li>
           {# <a class="btn btn-primary" href="{% url 'newsletter_listview' %}">Newsletters</a>#}

           {% else %}
             <li><a  href={% url 'login' %}>Already registered? Sign in here</a></li>
             {# <a class="btn btn-primary" href={% url 'create_account_view' %}>Create Account</a>#}
           {% endif %}
           {% if request.user.is_staff%}
           <li> <a  href={% url 'directory_listview' %}>Directory</a></li>
           {% endif %}
        </ul>





    </div>
      {% block content %}
        <p>
          A neighborhood site for the Westport Neighborhood in eastern Lincoln County, NC.
        </p>
      {% endblock %}
    </div>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101016603); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101016603ns.gif" /></p></noscript>
  </body>
</html>
