{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container-fluid">
    <h1>Westport Community Association</h1>
      <p>Celebrating 50 years</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Association leadership</h3>
        {% for officer in officer_list %}
        <h5> {{ officer.title }}</h5>
        <p>{{ officer.name }}</p>
        {% endfor %}

    </div>


    <div class="col-md-6">
      {% for post in object_list %}
        <img class="img-responsive" src="{{ post.photo_url }}" alt="Responsive image" />
        <h3>{{ post.body }}</h3>
        <p>
          {{ post.author }}, posted: {{ post.created }}
        </p>
      {% endfor %}

    </div>

    <div class="col-md-4">
      <h2>Join now!</h2>
        <h4>Click here to pay online. </h4>
        <ul>
          <li>Create a simple Westport profile</li>
          <li>Use PayPal to make a payment</li>
          <li>You do not have to create a PayPal account; you can use PayPal as a guest</li>
        </ul>
        <h4>Click here to pay by to mail or drop off a check. </h4>
        <>
          <li>Print out the profile form</li>
          <li>Write a check to the Westport Community Association</li>
          <li>Mail or drop off: Anke Island View Court</li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
