{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="thumbnail">
        {% for public_post in object_list|slice:":1" %}
          <img class="img-responsive" src="{{ public_post.photo_url }}" alt="Responsive image" />
          <div class="caption">
            <h3>{{ public_post.headline }}</h3>
            <p>{{public_post.body|linebreaks }}</p>
          </div>

        {% endfor %}

      </div>

    </div>

    <div class="col-md-6">
      <h2>Join now!</h2>
        <h4>Pay online</h4>
        <ol>
          <li>Pay $40 annual dues with PayPal (no account needed). Plus $1.50 service charge.
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7UFKTQL2XXVYW">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </li>
          <li>Then <a href={% url 'create_account_view' %}>click here </a>to submit information for the annual directory</a>.</li>
        </ol>

        <h4>Or pay by check</h4>

        <ul>
          <li><a href={% static "nabes_app/img/membership_form.pdf" %} >Click here</a> to print out the membership form.</li>
          <li>Write a check for $40 to the "Westport Community Association."</li>
          <li>Mail or drop off to: <br> WCA treasurer Anke Van Eijk <br> 8030 Island View Court <br> Denver NC 28037</li>
        </ul>

    </div>
  </div>
</div>
{% endblock %}

<h4>Advertise in our newsletter</h4>
<ul>
  <li><a href={% static "nabes_app/img/membership_form.pdf" %} >Click here</a> to print out the advertising form.</li>
  <li>Write a check to the "Westport Community Association."</li>
  <li>Mail or drop off to: <br> WCA treasurer Anke Van Eijk <br> 8030 Island View Court <br> Denver NC 28037</li>
</ul>
