{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container-fluid">
    <h1>Westport Community Association</h1>
      <p>Celebrating 50 years</p>
      <p><a class="btn btn-primary btn-lg" href=# role="button">Join!</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Association leadership</h3>
        {% for officer in officer_list %}
        <h5> {{ officer.title }}</h5>
        <p>{{ officer.name }}</p>
        {% endfor %}

    </div>


    <div class="col-md-6">
      {% for post in object_list %}
        <img class="img-responsive" src="{{ post.photo_url }}" alt="Responsive image" />
        <h3>{{ post.body }}</h3>
        <p>
          {{ post.author }}, posted: {{ post.created }}
        </p>
      {% endfor %}

    </div>

    <div class="col-md-4">
      <h2>Join now!</h2>
        <p>Click here to pay online.</p>
        <p>Click here to print out a form to mail in or drop off.</p>

    </div>
  </div>
</div>
{% endblock %}
