{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <img class="img-responsive" src="{{ user.profile.photo_url }}" alt="Responsive profile photo">
</div>
<div class="col-md-6">
    <p>Username: {{ user }}</p>
    <p>Primary Last Name: {{ user.profile.primary_last_name }}</p>
    <p>Secondary Last Name: {{ user.profile.secondary_last_name }}</p>
    <p>Family members: {{ user.profile.family_members }}</p>
    <p>Primary Phone: {{ user.profile.primary_phone }}</p>
    <p>Secondary Phone: {{ user.profile.secondary_phone }}</p>
    <p>Primary Email: {{ user.profile.primary_email }}</p>
    <p>Westport address: {{ user.profile.number }} {{ user.profile.street }}</p>
    <p>Dues paid: {{ user.profile.paypal }}</p>
    <p>    <a class='btn btn-primary' role='button' href={% url 'profile_update_view' %}>Update profile</a>
</p>
    <p><a class='btn btn-primary' role='button' href=#>Make Paypal payment</a></p>
    <p><a class='btn btn-primary' role='button' href=#>Pay with a check</a></p>



</div>

{% endblock %}
