.jumbotron {
  /* background: #000 url("/static/nabes_app/img/westport_1.5ef89bd5a8ee.jpg") no-repeat center center; /* can also add "fixed" and other stuff */
  background-size: cover; /* all 4 'covers' make the image responsive */
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  color: #FFFF; /* sets text color */
}

.row {
  background-color: #ffff;
}
